.header {
  display: none;
}
.section-about {
  display: none;
  margin-top: -20vh;
  padding: 25rem 0;
  background-color: $color-grey-light-1;
}

.section-features {
  display: none;
  margin-top: -10rem;
  padding: 20rem 0;
  background-image:
  linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)),
  url('../../img/nat-4.jpg');
  background-size: cover;
  background-repeat: none;
  transform: skewY(-5deg);

  & > * {
    transform: skewY(5deg);
  }
}

.section-tours {
  display: none;
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;
  background-color: $color-grey-light-1;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}